.footer{
  background: $DarkBlue;
  color: $White;
  padding: 2em 0;
  &__logo{
    display: block;
    margin: 15px auto 40px;
  }
 &__social{
   display: flex;
  //  justify-content: center;
 }
 .button{
   display: block;
   margin: 0 auto;

 }
 &__link{
   text-align: center;
      margin: 40px 0 ;
   a{
   display: block;
   color: $LightGrayish;
   text-decoration: none;
   margin-bottom: 20px;
   font-weight: 300;
   font-size: 1.1em;
   }

 }
 &__copyrigth{
   text-align: center;
   color: $GrayishBlue;
   font-size: 300;
 }

@mixin icon{
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  margin: 0 8px;
}

.icon{
 &__facebook{
   background: url(../images/icon-facebook.svg);
   @include icon;
 }
 &__youtube{
   background: url(../images/icon-youtube.svg);
   @include icon;
 }
 &__twitter{
   background: url(../images/icon-twitter.svg);
   @include icon;
 }
 &__pinterest{
   background: url(../images/icon-pinterest.svg);
   @include icon;
 }
 &__instagram{
   background: url(../images/icon-instagram.svg);
   @include icon;
 }
}
@media screen and(min-width:768px){
  
  .wrapper{
    display: grid;
    grid-column-gap: 7em;
    grid-template-columns: 200px 1fr 400px;
    grid-template-areas: "logo link button"
    "social link copyrigth";
  }
  &__link{
    display: grid;
    margin: 0;
    grid-area: link;
    grid-template-columns: repeat(2,1fr);
    justify-items: start;
  }
  &__logo{

    margin: initial;
    grid-area: logo;
  } 
  &__social{
  
    grid-area: social;
    
  }
  &__button{
  
    grid-area: button;
    text-align: right;
  }
   
  &__copyrigth{
    grid-area: copyrigth;
    text-align: right;
  }
}
}