.hero{
  padding-bottom: 6em;
  text-align: center;
  text-align: center;
  background: $LightGrayish;

  .button{
    @include button;
  }
    .copy{
      line-height: 1.7;
      font-weight: 400;
}
  &__images{
    position: relative;
    height: 300px;
    background: url('../images/image-mockups.png') bottom no-repeat,url('../images/bg-intro-mobile.svg') 0 no-repeat;
    background-size: 345px , cover;
    margin-bottom: 1.2em;
  }
  @media screen and (min-width:768px){
      text-align: left;
      padding-bottom: 0;
      background: url('../images/bg-intro-desktop.svg') right -500px top -285px no-repeat;
      background-size: 100%;
      min-height: 550px;
      box-sizing: border-box;

      &__content{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-areas: "description images";
        grid-template-columns: 1fr 1fr;
        min-height: 550px;
       } 
       &__images{
         grid-area: images;
         min-height: inherit;
        //  background: none;
        position: absolute;
        // border: 1px solid green;
        background:url('../images/image-mockups.png') right -107px top -100px/95%  no-repeat;
        width: 660px;
        height: 768px;
        right: 0;
        top: 0;

       }
       &__description{
         grid-area: description;
        // border: 1px solid blue;
        width: 348px;
       }

  }
      
    


   @media screen and (min-width: 1024px){
      // background: url('../images/bg-intro-desktop.svg') right -500px top -240px no-repeat;
    &__content{
      // border: 10px solid pink;
    }
    &__images{
        background:url('../images/image-mockups.png') right 0 top -108px no-repeat;
        background-size: 99%;
        width: 660px;
        height: 768px;
        left: 150px;
        right: 0;
        top: 0;
       }

       


  }



 .title{
   &__h1{
     @include title;
   }
    }

    
 


        


}
 