:root{
  font-size: 14px;
}
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrighCyan: hsl(192, 70%, 51%);

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayish: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White:hsl(0, 0%, 100%);

body{
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  color: $GrayishBlue;
 } 
 .wrapper{
  padding: 0 1.5em;
  max-width: calc(1115px + 1.5em);
  margin: auto;
  width:100%;
  box-sizing: border-box;
}
@mixin title{
   font-size: 2.6em;
    color: $DarkBlue;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0 .5em;
}
 @mixin button{
      border: 0;
      padding: .9em 2.2em;
      font-size: 1em;
      color: $White;
      border-radius: 1.3em;
      background-image: linear-gradient(to right , $LimeGreen 0%,$BrighCyan);
      font-weight: bold;
      cursor: pointer;
      &:hover{
        opacity: .6;;
        
      }
    }
@import './header';
@import './menu';
@import './hero';
@import './why';
@import './lastArticles';
@import './footer';

