:root {
  font-size: 14px; }

body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  color: #9698a6; }

header {
  padding: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu {
  width: 30px;
  height: 20px;
  background: url("../images/icon-hamburger.svg") center no-repeat; }

.hero {
  padding-bottom: 6em;
  text-align: center; }
  .hero .copy {
    margin: 0 0 2em; }
  .hero__images {
    height: 300px;
    background: url("../images/image-mockups.png") 15px -115px no-repeat, url("../images/bg-intro-mobile.svg") 0 no-repeat;
    background-size: 327px , cover; }

.wrapper {
  padding: 0 1.5em; }

.title__h1, .why .title__h2 {
  font-size: 2.6em;
  color: #2d314d;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0 .5em; }

.copy {
  line-height: 1.7;
  font-weight: 400; }

.button {
  border: 0;
  padding: .9em 2.2em;
  font-size: 1em;
  color: white;
  border-radius: 1.3em;
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da);
  font-weight: bold; }

.why {
  text-align: center;
  background-color: #f3f4f6;
  padding: 4em 0; }
  .why .title__h1, .why .title__h2 {
    font-size: 2.1em;
    padding: 0 .5em; }
  .why .title__h2 {
    font-size: 1.5em;
    margin-top: 1em; }
  .why .why__grid .copy {
    margin-bottom: 2em; }
  .why .copy {
    margin: 0 0 4em 0; }

.lastArticles {
  text-align: center;
  padding: 5em 0;
  background-color: #fafafa; }
  .lastArticles__grid {
    display: grid;
    grid-row-gap: 2em; }
  .lastArticles__item {
    border-radius: 5px;
    overflow: hidden;
    text-align: initial;
    background-color: white;
    padding-bottom: 2em; }
    .lastArticles__item__content {
      margin: 0 2em; }
    .lastArticles__item img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 1.5em; }
    .lastArticles__item .title__h3 {
      font-size: 1.1em;
      font-weight: 400;
      margin: .5em 0;
      color: #2d314d; }
    .lastArticles__item small {
      font-size: .7em; }
    .lastArticles__item .copy {
      font-size: .88em;
      line-height: 1.3; }
